.saba{
    background-color: rgb(236, 236, 24);
    border-top-left-radius: 30px;
    width: 100%;
    margin-top: -20px;
}
.saba1{
    margin: 0px 300px 70px 500px;
}
.saba2{
    margin-left: 500px;
}

