.saba{
    position: absolute;
    background-color: black;
    width: 20%;
    height: 20vh;
    color: white;
    font-weight: bold;
    margin-left:465px ;
    margin-top: 350px;
    opacity: 0.9;
    color: white;
    border-radius: 20px;
    /* padding-bottom: 40%; */
    /* margin-bottom: 300px; */
    /* margin-top: -70px; */
}
.one{
    position: absolute;
    height: 90vh;
    width: 30%;
    margin-left: 400px;
    margin-top: 20px;
}
.saba1{
    position: absolute;
    margin-left: 550px;
    margin-top: 500px;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
h4{
    padding-left: 10px;
}
p{
    padding-left: 20px;
}
