table{
    border:10px solid black;
    background-color: aqua;
    height: 300px;
    width: 500px;
    margin:0 auto;
}
th{
    border:2px solid black;
    background-color: blueviolet;

}
td{
    border:2px solid black;
}
caption{
    text-align: center;
    caption-side: top;
    background-color: green;
    font-size:xx-large;
    
}
td:hover{
    background-color: brown;
}
th:hover{
    background-color: orangered;
}
tr:nth-child(4){
    background-color: blue;
}
a{
    background-color: brown;

}